body {
    margin: 0px;
    padding: 0px;
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 1.4em;
    background-color: #e64b32;
}

a, a:link, a:visited { color: #dd4918; text-decoration: none; }

a:hover { text-decoration: underline; }

p { margin: 0px 0px 15px; padding: 0px; text-align: justify; }

.canvas { margin: 5px; border: #ffffff 4px solid; }

.image_fl { float: left; margin: 3px 20px 5px 0px; border: #ffffff 4px solid; }
.image_fl2 { float: left; margin: 3px 20px 5px 0px; }
.image_fr { float: right; margin: 0px 0px 5px 20px; border: #ffffff 4px solid; }

h1, h2, h3, h4, h5, h6 { color: #000000; font-weight: normal; font-family: Verdana, Geneva, sans-serif; }

h1 { font-size: 40px; margin: 15px 0px 25px; padding: 0px; }
h2 { font-size: 24px; margin: 10px 0px 15px; padding: 0px; }
h3 { font-size: 18px; margin: 5px 0px 15px; padding: 0px; }
h4 { font-size: 16px; margin: 5px 0px 15px; padding: 0px; }
h5 { font-size: 14px; margin: 0px 0px 10px; padding: 0px;  }
h6 { font-size: 12px; margin: 0px 0px 5px; padding: 0px; }

.fblogo a {
    display: block;
    width: 50px;
    height: 50px;
    margin: 10px 10px;
    background: url(../images/facebook_logo.png);
}

.fblogo a:hover {
    background: url(../images/facebook_logo_hover.png);
}

.twlogo a {
    display: block;
    width: 50px;
    height: 50px;
    margin: 10px 10px;
    background: url(../images/twitter_logo.png);
}

.twlogo a:hover {
    background: url(../images/twitter_logo_hover.png);
}

#page {
    width: 100%;
}

.bgstretch {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: -1;
}

#wrapper{
    position: absolute;
    left: 0px;
    width: 100%;
    top: 50%;
    margin-top: -350px;
}

#main { 
    width: 960px;
    margin: 0px auto;
}

#title h1 { 
    color: #ffffff;
    margin: 10px;
}

#content {
    width: 950px;
    height: 513px;
    padding: 5px;
    background: url(../images/main.png);
}

#spacer {
    margin-top: 5px;
    margin-bottom: 20px;
}

#footer h6  {
    text-align: center;
    color: #ffffff;
    margin: 8px;
}

.kwicks {
	display: block;
	list-style: none;
	position: relative;
	margin: 0;
	padding: 0;
}

.kwicks li {
	width: 238px;
	height: 490px;
	margin-right: 5px;
	overflow: hidden;
	padding: 0;
	cursor: pointer;
	float: left;
	background: url(../images/slider_bg.png) no-repeat left
}

.kwicks li.active {
	background: url(../images/slider_bg_hover.png) no-repeat left;
}

.kwicks li span.header {
	position: absolute;
	bottom: 20px;
	left: 19px;
	width: 20px;
	height: 300px;
	background-repeat: no-repeat;
	background-position: bottom;
}

#content #home { 
}

#content #home.active { 
}

#content #downloads {
}

#content #downloads.active {
}

#content #resources {
}

#content #resources.active {
}

#content #about {
}

#content #about.active {
}

#content #home span.header {
    background-image: url(../images/home.png)
}

#content #home.active span.header {
    background-image: url(../images/home.png)
}

#content #downloads span.header {
    background-image: url(../images/downloads.png)
}

#content #resources span.header { 
    background-image: url(../images/resources.png)
}

#content #about span.header {
    background-image: url(../images/about.png)
}

#content li .inner {
    width: 675px;
    height: 460px;
    margin: 15px 15px 15px 75px;
}

#content li ul { 
	margin: 0 0 0 10px; 
	padding: 0; 
	list-style: decimal-leading-zero; 
}

#content li ul li {
	width: auto;
	height: auto;
	float: none;
	margin: 0;
	padding: 0 0 5px 18px;
	background: url(../images/list.png) scroll 0px 7px no-repeat
}
